
@model IEnumerable<ERA.Data.Employee>
@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    @Model.Count()

</div>
<div>

    <ul>

        @foreach (var item in Model)
        {
            <li>@item.EmployeeID , @item.EmployeeName , @item.Location , @item.Email</li>        

        }
    </ul>

</div>*@

